[submodule "resources/docs/latest"]
	path = resources/docs/latest
	url = https://github.com/variejs/docs
[submodule "resources/docs/beta"]
	path = resources/docs/beta
	url = git@github.com:variejs/docs.git
	branch = beta
