// LAYOUT ==================================================
// =========================================================

// This would include any page layout stuff, like grid
// to place any headers/footers/sidebars needed

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "header" "wrapper";
}

.header {
  grid-area: header;
}

.wrapper {
  position: relative;
  grid-area: wrapper;

  display: grid;
  grid-template-columns: 1fr min-content minmax(500px, 800px) 1fr;
  grid-template-areas: "left-space nav content right-space";
}

.nav,
.wrapper,
.content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.nav {
  grid-area: nav;
  background-color: $color-background;
}

.content {
  grid-area: content;
}

@include breakpoint(sm) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content";
  }

  .nav {
    grid-area: content;
    z-index: 2;
    position: relative;
    right: 100%;
    transition: right 0.3s ease;

    &--open {
      right: 0;
      transition: right 0.3s ease;
    }
  }
}
