$fa-font-path: "./../assets/font-awesome/webfonts";

@import "./../assets/font-awesome/scss/fontawesome";
@import "./../assets/font-awesome/scss/brands";
@import "./../assets/font-awesome/scss/light";

@import "modules/variables";

@import "modules/base";
@import "modules/layout";
@import "modules/mixins";

@import "modules/nav";
@import "modules/spinner";

// Components
@import "modules/icons";
@import "modules/buttons";
@import "modules/dropdown";

// Areas
@import "modules/docs";

@import "modules/code";
