code {
  @apply .overflow-y-scroll;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: black;
  &:visited {
    color : black;
  }
}

.404 {
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
}