* {
  box-sizing: border-box;
}

code {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  color: $teal;
  &:visited {
    color: $teal;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.75rem;
}
h5 {
  font-size: 0.5rem;
}
h6 {
  font-size: 0.25rem;
}
