.documentation {
  display: flex;
  flex: 1 0 auto;
  overflow: hidden;
  max-width: 65rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;

  &__body {
    width: 100%;
    padding: 1rem 2rem;
    @include breakpoint(sm) {
      padding: 1rem 0.25rem;
    }
  }

  &__content {
    max-width: 800px;

    h1 {
      font-size : 2rem;
    }
    h2 {
      font-size : 1.5rem;
    }

    h3,
    h4 {
      font-size : 1.25rem;
    }


    h1,
    h2 {
      font-weight: 100;
    }

    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }

    h1,
    h2 {
      &:not(:first-child) {
        display: block;
        padding: 5.5rem 0 0.5rem 0; // THIS IS HACK TO GET HASHES WORKING CORRECTLY
        margin-top: -3rem;
        &:before {
          color: $teal;
          content: "# ";
        }
      }
    }

    > ul {
      margin-top: 1rem;
      &:after {
        content: "\a0";
        display: block;
        margin-bottom: 1rem;
        border-bottom: 1px solid #cccccc;
      }
    }

    ul {
      li {
        margin: 0.25rem 1rem;
        a {
          opacity: 0.8;
          color: $teal;
          font-weight: 600;
          &:before {
            content: "# ";
          }
          &:hover {
            opacity: 1;
            font-weight: 800;
          }
        }

        ul {
          li {
            margin-left: 2rem;
            a {
              opacity: 0.6;
            }
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }

    ul {
      li {
        p {
          margin-bottom: 0.5rem;
        }
      }
    }

    h3,
    h4,
    h5,
    h6 {
      margin-top: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }

    code {
      max-width: 100%;
      display: inline-block;
      border-radius: 0.1rem;
      padding: 0.25rem;
      margin: 0 0.25rem;
      background-color: $gray;
      vertical-align: text-top;
    }

    .alert {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      color: $white;
      border-radius: 0.25rem;
      background-color: $red;
      a {
        color: $white;
        text-decoration: underline;
      }
      &:before {
        @extend .fal;
        content: "\f321";
        font-size: 1.7rem;
        margin: -11px 15px -11px 0px;
      }
    }

    .info {
      padding: 1.5rem;
      color: $white;
      border-radius: 0.25rem;
      background-color: lighten($teal, 10%);
      a {
        color: $white;
        text-decoration: underline;
      }

      &:before {
        @extend .fal;
        content: "\f30f";
        font-size: 1.7rem;
        margin: -11px 15px -11px 0px;
      }
    }

    .collection-list {
      column-count: 3;
      @include breakpoint(md) {
        column-count: 2;
      }
    }


    li {
      list-style: circle;
      margin-left: 1rem;
    }

    &__links {
      li {
        margin-left: 0;
        list-style: none;
      }

      &__level {
        &--2 {
          margin-left : 0 !important;
        }

        &--3 {
          margin-left : 1.5rem !important;;
        }
      }
    }


    li {
      list-style: circle;
      margin-left: 1rem;
    }

    &__links {
      li {
        margin-left: 0;
        list-style: none;
      }

      &__level {
        &--2 {
          margin-left : 0 !important;
        }

        &--3 {
          margin-left : 1.5rem !important;;
        }
      }
    }
  }

  &__menu {
    min-width: 275px;
    overflow-y: auto;
    border-right: 1px solid $gray;
    -webkit-overflow-scrolling: touch;

    > ul > li {
      margin-bottom: 1rem;

      h3 {
        padding: 1rem;
      }
      ul a {
        display: block;
        padding: 0.5rem 1rem;
        &:hover,
        &:active,
        &:focus {
          border-right: 5px solid $teal;
          color: $black;
          background-color: lighten($teal, 45%);
        }

        &.router-link-active {
          border-right: 5px solid $teal;
        }
      }
    }

    #menu-search {
      display: none;
    }

    // MOBILE MENU
    @include breakpoint(sm) {
      width: 100%;
      position: fixed;
      top: 4rem;
      bottom: 0;
      left: -100%;
      transition: ease all 0.3s;
      background-color: $white;
      z-index: 99;
      &--open {
        left: 0;
        transition: ease all 0.3s;
      }
      #menu-search {
        display: initial;
      }
    }
  }
}
