.documentation {
  display : flex;
  flex : 1 1 auto;
  overflow: hidden;
  justify-content: center;

  &--body {
    overflow: scroll;
    padding : 1rem 2rem;
    flex : 0 1 800px;
  }

  &--content {
    overflow: scroll;
    padding-left: 1rem;

    h1,
    h2 {
      &:not(:first-child) {
        display : block;
        padding : .5rem;
        margin-top : 2rem;
        border: 1px dashed $gray;
      }
    }

    > ul {
      margin-top: 1rem;
      &:after {
        content: "\a0";
        display: block;
        margin-bottom : 1rem;
        border-bottom: 1px solid #cccccc;
      }
    }

    ul {
      li {
        a {
          color : $teal;
          font-weight : 800;
          &:before {
            content : "# "
          }
        }
      }
    }

    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      margin-top : 1rem;
    }

    p {
      margin-bottom : 1rem;
    }

    code {
      display : inline-block;
      border-radius: .1rem;
      padding: .25rem;
      margin: 0 .25rem;
      background-color : $gray;
      vertical-align: text-top;
    }
  }

  &--menu {
    overflow: auto;
    padding : .5rem 1rem 0 0;
    border-right : 1px solid $gray;

    > ul > li {
      margin-bottom : 1rem;

      h4 {
        padding : 1rem .5rem;
      }
      ul a {
        display : block;
        padding : .5rem 1rem;
        &:hover,
        &:active,
        &:focus {
          border-right : 5px solid $teal;
          color : $black;
          background-color : lighten($teal, 45%);
        }

        &.router-link-active {
          border-color : $teal;
        }
      }
    }
  }
}
