.dropdown {
  position: relative;
  text-transform: capitalize;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &.open {
    .arrow {
      top: -4px;
      transform: rotate(135deg);
      transition: all 0.2s ease;
    }
  }

  &--menu {
    position: absolute;
    top: calc(100% + 4px);
    left: -1px;
    right: -1px;
    background-color: $white;
    border: 1px solid $gray;

    &-item {
      display: block;
      padding: 2rem 0;
      text-align: center;

      &:not(:last-child) {
        border: 1px solid $teal;
      }

      &:hover {
        color: $white;
        cursor: pointer;
        background-color: $teal;
      }

      &:first-child {
        &:before {
          display: block;
          content: "";
          border: 10px solid $gray;
          border-top: none;
          border-right-color: transparent;
          border-left-color: transparent;
          position: absolute;
          bottom: calc(100% + 1px);
          left: 50%;
          transform: translateX(-50%);
        }

        &:after {
          display: block;
          content: "";
          border: 10px solid $white;
          border-top: none;
          border-right-color: transparent;
          border-left-color: transparent;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
        }

        &:hover {
          &:after {
            border-bottom-color: $teal;
          }
        }
      }
    }
  }
}
