html,
body,
#app {
  margin: 0;
  color: $black;
  display: flex;
  flex: 1 1 auto;
  min-height: 100vh;
  flex-direction: column;
  max-width: 100%;
}

#app {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}
