html, body, #app {
  min-height: 100%;
  height: 100%;
  @apply .flex .flex-col .flex-auto;
}

#app {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  @apply .mt-2 .mb-2;
}

a {
  @apply .no-underline;
}

ul {
  @apply .list-reset;
}

* {
  box-sizing: border-box;
}