html,
body,
#app {
  margin : 0;
  height: 100%;
  color: $black;
  display : flex;
  flex : 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

#app {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}
