// BREAKPOINTS ---------------------------------------------
// ---------------------------------------------------------
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 2100px) {
      @content;
    }
  } @else if $point == lxl {
    @media (max-width: 2099px) {
      @content;
    }
  } @else if $point == mxl {
    @media (max-width: 1900px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $point == xs {
    @media (max-width: 414px) {
      @content;
    }
  }
}
